.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 10px;
}

.Order Span {
    text-transform: capitalize;
    display: inline-block;
    margin : 0 8px;
    padding: 5px;
    border: 1px solid #ccc;
}