.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    width: 100%;
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: white;
}

.Invalid {
    /* border: 1px solid red; */
    background-color: salmon;
    border-bottom: 2px solid red;
}